# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from ..types.web_session_response import WebSessionResponse
from .raw_client import AsyncRawWebCallClient, RawWebCallClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class WebCallClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawWebCallClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawWebCallClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawWebCallClient
        """
        return self._raw_client

    def start_web_chat_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> WebSessionResponse:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a text-first chat with the agent. The response includes the room name,
        the LiveKit host to connect to, a `conversationId` for correlation, and a `callId`
        that shows up in call logs. Pair with the [Web SDK](/voice-agents/developer-guide/client-libraries)
        to render the session in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        WebSessionResponse
            Session minted. Use `token` + `host` on the browser client to join `roomName`.

        Examples
        --------
        from smallestai import SmallestAI

        client = SmallestAI(
            api_key="YOUR_API_KEY",
        )
        client.atoms.web_call.start_web_chat_conversation(
            agent_id="6a75935452c6e5eceaa16edf",
        )
        """
        _response = self._raw_client.start_web_chat_conversation(agent_id=agent_id, request_options=request_options)
        return _response.data

    def start_web_call_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> WebSessionResponse:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a voice-first call with the agent. Same response shape as `/conversation/chat`;
        the difference is the audio track defaults on the client side. Pair with the
        [Web SDK](/voice-agents/developer-guide/client-libraries) to open the room in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        WebSessionResponse
            Session minted. Use `token` + `host` on the browser client to join `roomName`.

        Examples
        --------
        from smallestai import SmallestAI

        client = SmallestAI(
            api_key="YOUR_API_KEY",
        )
        client.atoms.web_call.start_web_call_conversation(
            agent_id="6a75935452c6e5eceaa16edf",
        )
        """
        _response = self._raw_client.start_web_call_conversation(agent_id=agent_id, request_options=request_options)
        return _response.data


class AsyncWebCallClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawWebCallClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawWebCallClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawWebCallClient
        """
        return self._raw_client

    async def start_web_chat_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> WebSessionResponse:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a text-first chat with the agent. The response includes the room name,
        the LiveKit host to connect to, a `conversationId` for correlation, and a `callId`
        that shows up in call logs. Pair with the [Web SDK](/voice-agents/developer-guide/client-libraries)
        to render the session in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        WebSessionResponse
            Session minted. Use `token` + `host` on the browser client to join `roomName`.

        Examples
        --------
        import asyncio

        from smallestai import AsyncSmallestAI

        client = AsyncSmallestAI(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.atoms.web_call.start_web_chat_conversation(
                agent_id="6a75935452c6e5eceaa16edf",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.start_web_chat_conversation(
            agent_id=agent_id, request_options=request_options
        )
        return _response.data

    async def start_web_call_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> WebSessionResponse:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a voice-first call with the agent. Same response shape as `/conversation/chat`;
        the difference is the audio track defaults on the client side. Pair with the
        [Web SDK](/voice-agents/developer-guide/client-libraries) to open the room in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        WebSessionResponse
            Session minted. Use `token` + `host` on the browser client to join `roomName`.

        Examples
        --------
        import asyncio

        from smallestai import AsyncSmallestAI

        client = AsyncSmallestAI(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.atoms.web_call.start_web_call_conversation(
                agent_id="6a75935452c6e5eceaa16edf",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.start_web_call_conversation(
            agent_id=agent_id, request_options=request_options
        )
        return _response.data
