# This file was auto-generated by Fern from our API Definition.

import typing
from json.decoder import JSONDecodeError

from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.http_response import AsyncHttpResponse, HttpResponse
from ...core.parse_error import ParsingError
from ...core.request_options import RequestOptions
from ...core.unchecked_base_model import construct_type
from ..errors.bad_request_error import BadRequestError
from ..types.web_session_response import WebSessionResponse
from pydantic import ValidationError

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class RawWebCallClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def start_web_chat_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> HttpResponse[WebSessionResponse]:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a text-first chat with the agent. The response includes the room name,
        the LiveKit host to connect to, a `conversationId` for correlation, and a `callId`
        that shows up in call logs. Pair with the [Web SDK](/voice-agents/developer-guide/client-libraries)
        to render the session in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[WebSessionResponse]
            Session minted. Use `token` + `host` on the browser client to join `roomName`.
        """
        _response = self._client_wrapper.httpx_client.request(
            "conversation/chat",
            base_url=self._client_wrapper.get_environment().atoms,
            method="POST",
            json={
                "agentId": agent_id,
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    WebSessionResponse,
                    construct_type(
                        type_=WebSessionResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    def start_web_call_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> HttpResponse[WebSessionResponse]:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a voice-first call with the agent. Same response shape as `/conversation/chat`;
        the difference is the audio track defaults on the client side. Pair with the
        [Web SDK](/voice-agents/developer-guide/client-libraries) to open the room in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[WebSessionResponse]
            Session minted. Use `token` + `host` on the browser client to join `roomName`.
        """
        _response = self._client_wrapper.httpx_client.request(
            "conversation/webcall",
            base_url=self._client_wrapper.get_environment().atoms,
            method="POST",
            json={
                "agentId": agent_id,
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    WebSessionResponse,
                    construct_type(
                        type_=WebSessionResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)


class AsyncRawWebCallClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def start_web_chat_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[WebSessionResponse]:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a text-first chat with the agent. The response includes the room name,
        the LiveKit host to connect to, a `conversationId` for correlation, and a `callId`
        that shows up in call logs. Pair with the [Web SDK](/voice-agents/developer-guide/client-libraries)
        to render the session in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[WebSessionResponse]
            Session minted. Use `token` + `host` on the browser client to join `roomName`.
        """
        _response = await self._client_wrapper.httpx_client.request(
            "conversation/chat",
            base_url=self._client_wrapper.get_environment().atoms,
            method="POST",
            json={
                "agentId": agent_id,
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    WebSessionResponse,
                    construct_type(
                        type_=WebSessionResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    async def start_web_call_conversation(
        self, *, agent_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[WebSessionResponse]:
        """
        Mints a short-lived LiveKit access token and creates a room the browser client can
        join to have a voice-first call with the agent. Same response shape as `/conversation/chat`;
        the difference is the audio track defaults on the client side. Pair with the
        [Web SDK](/voice-agents/developer-guide/client-libraries) to open the room in-browser.

        Parameters
        ----------
        agent_id : str
            The agent to attach the browser client to.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[WebSessionResponse]
            Session minted. Use `token` + `host` on the browser client to join `roomName`.
        """
        _response = await self._client_wrapper.httpx_client.request(
            "conversation/webcall",
            base_url=self._client_wrapper.get_environment().atoms,
            method="POST",
            json={
                "agentId": agent_id,
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    WebSessionResponse,
                    construct_type(
                        type_=WebSessionResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
