[project]
name = "smallestai"
version = "0.1.0"
description = "Official Python client for the Smallest AI API"
authors = [
    {name = "Smallest", email = "info@smallest.ai"},
]
readme = "README.md"
license = {text = "MIT"}
requires-python = ">=3.9"
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
keywords = ["smallest", "smallest.ai", "tts", "text-to-speech"]
dependencies = [
    "aiohttp",
    "aiofiles",
    "requests",
    "sacremoses",
    "pydub"
]

[project.optional-dependencies]
test = [
    "jiwer",
    "httpx",
    "pytest",
    "pytest-asyncio",
    "deepgram-sdk",
    "python-dotenv"
]

[project.urls]
Homepage = "https://github.com/smallest-inc/smallest-python-sdk"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["smallest*"]
