# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from ..types.chat_completion import ChatCompletion
from ..types.electron_message import ElectronMessage
from .raw_client import AsyncRawElectronClient, RawElectronClient
from .types.chat_completion_request_response_format import ChatCompletionRequestResponseFormat
from .types.chat_completion_request_stop import ChatCompletionRequestStop
from .types.chat_completion_request_stream_options import ChatCompletionRequestStreamOptions
from .types.chat_completion_request_tool_choice import ChatCompletionRequestToolChoice

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class ElectronClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawElectronClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawElectronClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawElectronClient
        """
        return self._raw_client

    def complete(
        self,
        *,
        model: str,
        messages: typing.Sequence[ElectronMessage],
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        stream_options: typing.Optional[ChatCompletionRequestStreamOptions] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[ChatCompletionRequestToolChoice] = OMIT,
        response_format: typing.Optional[ChatCompletionRequestResponseFormat] = OMIT,
        stop: typing.Optional[ChatCompletionRequestStop] = OMIT,
        seed: typing.Optional[int] = OMIT,
        logit_bias: typing.Optional[typing.Dict[str, float]] = OMIT,
        logprobs: typing.Optional[bool] = OMIT,
        top_logprobs: typing.Optional[int] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        user: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Generate a chat completion with Electron. OpenAI-compatible
        request/response shape — point any OpenAI SDK at
        `https://api.smallest.ai/waves/v1` and it just works.
        
        Set `stream: true` to receive tokens via Server-Sent Events. With
        `stream_options: { include_usage: true }`, the final SSE chunk
        carries the `usage` block so token accounting is exact even on
        client disconnects.
        
        Tool calling follows OpenAI's `tools` array convention. When you
        provide a voice-agent-style system prompt, Electron emits a short
        filler phrase in the assistant message `content` field alongside
        `tool_calls` — see the [Tool Calling guide](/models/documentation/llm-electron/tool-function-calling)
        for the voice-agent pattern.
        
        ## Examples
        
        **cURL**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/chat/completions" \\
          -H "Authorization: Bearer $SMALLEST_API_KEY" \\
          -H "Content-Type: application/json" \\
          -d '{
            "model": "electron",
            "messages": [
              {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ]
          }'
        ```
        
        **Python** (`pip install openai`)
        ```python
        import os
        from openai import OpenAI
        
        client = OpenAI(
            base_url="https://api.smallest.ai/waves/v1",
            api_key=os.environ["SMALLEST_API_KEY"],
        )
        
        response = client.chat.completions.create(
            model="electron",
            messages=[
                {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ],
        )
        
        print(response.choices[0].message.content)
        ```
        
        **JavaScript / TypeScript** (`npm install openai`)
        ```typescript
        import OpenAI from "openai";
        
        const client = new OpenAI({
          baseURL: "https://api.smallest.ai/waves/v1",
          apiKey: process.env.SMALLEST_API_KEY,
        });
        
        const response = await client.chat.completions.create({
          model: "electron",
          messages: [
            { role: "user", content: "Write one sentence about why the sky is blue." },
          ],
        });
        
        console.log(response.choices[0].message.content);
        ```
        
        **Streaming with usage** (Python)
        ```python
        stream = client.chat.completions.create(
            model="electron",
            messages=[{"role": "user", "content": "Tell me a one-sentence fun fact."}],
            stream=True,
            stream_options={"include_usage": True},
        )
        for chunk in stream:
            if chunk.choices and chunk.choices[0].delta.content:
                print(chunk.choices[0].delta.content, end="", flush=True)
            if chunk.usage:
                print(f"\\n\\nTokens: {chunk.usage.total_tokens}")
        ```
        
        ## Common gotchas
        
        - **Base URL is `/waves/v1`**, not `/v1`. The OpenAI SDK appends `/chat/completions` for you.
        - **`stream_options.include_usage: true`** is required for exact token accounting on streaming calls — the final SSE chunk carries the `usage` block.
        - **`n > 1` and `prompt_logprobs` are rejected.** Use multiple requests if you need parallel completions.
        - **Auth header is `Authorization: Bearer $SMALLEST_API_KEY`** — get the key from the [Smallest AI Console](https://app.smallest.ai/dashboard/api-keys).
        
        Parameters
        ----------
        model : str
            Model ID. Currently only `"electron"`.
        
        messages : typing.Sequence[ElectronMessage]
            Chat history. Standard OpenAI message array.
        
        temperature : typing.Optional[float]
            Sampling temperature.
        
        top_p : typing.Optional[float]
            Nucleus sampling.
        
        max_tokens : typing.Optional[int]
            Maximum output tokens. Combined input + output context ceiling
            is 32,768.
        
        stream : typing.Optional[bool]
            When true, response is `text/event-stream`. See the
            [Streaming guide](/models/documentation/llm-electron/streaming).
        
        stream_options : typing.Optional[ChatCompletionRequestStreamOptions]
        
        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool / function calling definitions. Forwarded verbatim to the
            OpenAI-compatible upstream, so the standard OpenAI shape
            (`{type: "function", function: {name, description, parameters}}`)
            is the recommended form and is what the examples below use.
            The wire schema is permissive (`array<object>`) — any tools payload
            the upstream accepts will work. See [Tool Calling](/models/documentation/llm-electron/tool-function-calling)
            for details.
        
        tool_choice : typing.Optional[ChatCompletionRequestToolChoice]
        
        response_format : typing.Optional[ChatCompletionRequestResponseFormat]
            Output shape. `{type: "text"}` (default) or `{type: "json_object"}`.
        
        stop : typing.Optional[ChatCompletionRequestStop]
        
        seed : typing.Optional[int]
            Best-effort determinism.
        
        logit_bias : typing.Optional[typing.Dict[str, float]]
        
        logprobs : typing.Optional[bool]
        
        top_logprobs : typing.Optional[int]
        
        presence_penalty : typing.Optional[float]
        
        frequency_penalty : typing.Optional[float]
        
        user : typing.Optional[str]
            Opaque end-user identifier. Not interpreted by Electron.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        ChatCompletion
            Non-streaming: standard OpenAI `chat.completion` object.
            
            Streaming (`stream: true`): `text/event-stream` SSE — each
            event is a `chat.completion.chunk` delta, terminated by
            `data: [DONE]`.
        
        Examples
        --------
        from smallestai import SmallestAI
        from smallestai.speech import ElectronMessage
        
        client = SmallestAI(
            api_key="YOUR_API_KEY",
        )
        client.speech.electron.complete(
            model="electron",
            messages=[
                ElectronMessage(
                    role="user",
                    content="Hello!",
                )
            ],
        )
        """
        _response = self._raw_client.complete(
            model=model,
            messages=messages,
            temperature=temperature,
            top_p=top_p,
            max_tokens=max_tokens,
            stream=stream,
            stream_options=stream_options,
            tools=tools,
            tool_choice=tool_choice,
            response_format=response_format,
            stop=stop,
            seed=seed,
            logit_bias=logit_bias,
            logprobs=logprobs,
            top_logprobs=top_logprobs,
            presence_penalty=presence_penalty,
            frequency_penalty=frequency_penalty,
            user=user,
            request_options=request_options,
        )
        return _response.data


class AsyncElectronClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawElectronClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawElectronClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawElectronClient
        """
        return self._raw_client

    async def complete(
        self,
        *,
        model: str,
        messages: typing.Sequence[ElectronMessage],
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        stream_options: typing.Optional[ChatCompletionRequestStreamOptions] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[ChatCompletionRequestToolChoice] = OMIT,
        response_format: typing.Optional[ChatCompletionRequestResponseFormat] = OMIT,
        stop: typing.Optional[ChatCompletionRequestStop] = OMIT,
        seed: typing.Optional[int] = OMIT,
        logit_bias: typing.Optional[typing.Dict[str, float]] = OMIT,
        logprobs: typing.Optional[bool] = OMIT,
        top_logprobs: typing.Optional[int] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        user: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Generate a chat completion with Electron. OpenAI-compatible
        request/response shape — point any OpenAI SDK at
        `https://api.smallest.ai/waves/v1` and it just works.
        
        Set `stream: true` to receive tokens via Server-Sent Events. With
        `stream_options: { include_usage: true }`, the final SSE chunk
        carries the `usage` block so token accounting is exact even on
        client disconnects.
        
        Tool calling follows OpenAI's `tools` array convention. When you
        provide a voice-agent-style system prompt, Electron emits a short
        filler phrase in the assistant message `content` field alongside
        `tool_calls` — see the [Tool Calling guide](/models/documentation/llm-electron/tool-function-calling)
        for the voice-agent pattern.
        
        ## Examples
        
        **cURL**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/chat/completions" \\
          -H "Authorization: Bearer $SMALLEST_API_KEY" \\
          -H "Content-Type: application/json" \\
          -d '{
            "model": "electron",
            "messages": [
              {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ]
          }'
        ```
        
        **Python** (`pip install openai`)
        ```python
        import os
        from openai import OpenAI
        
        client = OpenAI(
            base_url="https://api.smallest.ai/waves/v1",
            api_key=os.environ["SMALLEST_API_KEY"],
        )
        
        response = client.chat.completions.create(
            model="electron",
            messages=[
                {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ],
        )
        
        print(response.choices[0].message.content)
        ```
        
        **JavaScript / TypeScript** (`npm install openai`)
        ```typescript
        import OpenAI from "openai";
        
        const client = new OpenAI({
          baseURL: "https://api.smallest.ai/waves/v1",
          apiKey: process.env.SMALLEST_API_KEY,
        });
        
        const response = await client.chat.completions.create({
          model: "electron",
          messages: [
            { role: "user", content: "Write one sentence about why the sky is blue." },
          ],
        });
        
        console.log(response.choices[0].message.content);
        ```
        
        **Streaming with usage** (Python)
        ```python
        stream = client.chat.completions.create(
            model="electron",
            messages=[{"role": "user", "content": "Tell me a one-sentence fun fact."}],
            stream=True,
            stream_options={"include_usage": True},
        )
        for chunk in stream:
            if chunk.choices and chunk.choices[0].delta.content:
                print(chunk.choices[0].delta.content, end="", flush=True)
            if chunk.usage:
                print(f"\\n\\nTokens: {chunk.usage.total_tokens}")
        ```
        
        ## Common gotchas
        
        - **Base URL is `/waves/v1`**, not `/v1`. The OpenAI SDK appends `/chat/completions` for you.
        - **`stream_options.include_usage: true`** is required for exact token accounting on streaming calls — the final SSE chunk carries the `usage` block.
        - **`n > 1` and `prompt_logprobs` are rejected.** Use multiple requests if you need parallel completions.
        - **Auth header is `Authorization: Bearer $SMALLEST_API_KEY`** — get the key from the [Smallest AI Console](https://app.smallest.ai/dashboard/api-keys).
        
        Parameters
        ----------
        model : str
            Model ID. Currently only `"electron"`.
        
        messages : typing.Sequence[ElectronMessage]
            Chat history. Standard OpenAI message array.
        
        temperature : typing.Optional[float]
            Sampling temperature.
        
        top_p : typing.Optional[float]
            Nucleus sampling.
        
        max_tokens : typing.Optional[int]
            Maximum output tokens. Combined input + output context ceiling
            is 32,768.
        
        stream : typing.Optional[bool]
            When true, response is `text/event-stream`. See the
            [Streaming guide](/models/documentation/llm-electron/streaming).
        
        stream_options : typing.Optional[ChatCompletionRequestStreamOptions]
        
        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool / function calling definitions. Forwarded verbatim to the
            OpenAI-compatible upstream, so the standard OpenAI shape
            (`{type: "function", function: {name, description, parameters}}`)
            is the recommended form and is what the examples below use.
            The wire schema is permissive (`array<object>`) — any tools payload
            the upstream accepts will work. See [Tool Calling](/models/documentation/llm-electron/tool-function-calling)
            for details.
        
        tool_choice : typing.Optional[ChatCompletionRequestToolChoice]
        
        response_format : typing.Optional[ChatCompletionRequestResponseFormat]
            Output shape. `{type: "text"}` (default) or `{type: "json_object"}`.
        
        stop : typing.Optional[ChatCompletionRequestStop]
        
        seed : typing.Optional[int]
            Best-effort determinism.
        
        logit_bias : typing.Optional[typing.Dict[str, float]]
        
        logprobs : typing.Optional[bool]
        
        top_logprobs : typing.Optional[int]
        
        presence_penalty : typing.Optional[float]
        
        frequency_penalty : typing.Optional[float]
        
        user : typing.Optional[str]
            Opaque end-user identifier. Not interpreted by Electron.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        ChatCompletion
            Non-streaming: standard OpenAI `chat.completion` object.
            
            Streaming (`stream: true`): `text/event-stream` SSE — each
            event is a `chat.completion.chunk` delta, terminated by
            `data: [DONE]`.
        
        Examples
        --------
        import asyncio
        
        from smallestai import AsyncSmallestAI
        from smallestai.speech import ElectronMessage
        
        client = AsyncSmallestAI(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.speech.electron.complete(
                model="electron",
                messages=[
                    ElectronMessage(
                        role="user",
                        content="Hello!",
                    )
                ],
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.complete(
            model=model,
            messages=messages,
            temperature=temperature,
            top_p=top_p,
            max_tokens=max_tokens,
            stream=stream,
            stream_options=stream_options,
            tools=tools,
            tool_choice=tool_choice,
            response_format=response_format,
            stop=stop,
            seed=seed,
            logit_bias=logit_bias,
            logprobs=logprobs,
            top_logprobs=top_logprobs,
            presence_penalty=presence_penalty,
            frequency_penalty=frequency_penalty,
            user=user,
            request_options=request_options,
        )
        return _response.data
