# This file was auto-generated by Fern from our API Definition.

import typing
from json.decoder import JSONDecodeError

from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.http_response import AsyncHttpResponse, HttpResponse
from ...core.parse_error import ParsingError
from ...core.request_options import RequestOptions
from ...core.serialization import convert_and_respect_annotation_metadata
from ...core.unchecked_base_model import construct_type
from ..errors.bad_gateway_error import BadGatewayError
from ..errors.bad_request_error import BadRequestError
from ..errors.forbidden_error import ForbiddenError
from ..errors.service_unavailable_error import ServiceUnavailableError
from ..errors.too_many_requests_error import TooManyRequestsError
from ..errors.unauthorized_error import UnauthorizedError
from ..types.chat_completion import ChatCompletion
from ..types.electron_message import ElectronMessage
from .types.chat_completion_request_response_format import ChatCompletionRequestResponseFormat
from .types.chat_completion_request_stop import ChatCompletionRequestStop
from .types.chat_completion_request_stream_options import ChatCompletionRequestStreamOptions
from .types.chat_completion_request_tool_choice import ChatCompletionRequestToolChoice
from pydantic import ValidationError

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class RawElectronClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def complete(
        self,
        *,
        model: str,
        messages: typing.Sequence[ElectronMessage],
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        stream_options: typing.Optional[ChatCompletionRequestStreamOptions] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[ChatCompletionRequestToolChoice] = OMIT,
        response_format: typing.Optional[ChatCompletionRequestResponseFormat] = OMIT,
        stop: typing.Optional[ChatCompletionRequestStop] = OMIT,
        seed: typing.Optional[int] = OMIT,
        logit_bias: typing.Optional[typing.Dict[str, float]] = OMIT,
        logprobs: typing.Optional[bool] = OMIT,
        top_logprobs: typing.Optional[int] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        user: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> HttpResponse[ChatCompletion]:
        """
        Generate a chat completion with Electron. OpenAI-compatible
        request/response shape — point any OpenAI SDK at
        `https://api.smallest.ai/waves/v1` and it just works.
        
        Set `stream: true` to receive tokens via Server-Sent Events. With
        `stream_options: { include_usage: true }`, the final SSE chunk
        carries the `usage` block so token accounting is exact even on
        client disconnects.
        
        Tool calling follows OpenAI's `tools` array convention. When you
        provide a voice-agent-style system prompt, Electron emits a short
        filler phrase in the assistant message `content` field alongside
        `tool_calls` — see the [Tool Calling guide](/models/documentation/llm-electron/tool-function-calling)
        for the voice-agent pattern.
        
        ## Examples
        
        **cURL**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/chat/completions" \\
          -H "Authorization: Bearer $SMALLEST_API_KEY" \\
          -H "Content-Type: application/json" \\
          -d '{
            "model": "electron",
            "messages": [
              {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ]
          }'
        ```
        
        **Python** (`pip install openai`)
        ```python
        import os
        from openai import OpenAI
        
        client = OpenAI(
            base_url="https://api.smallest.ai/waves/v1",
            api_key=os.environ["SMALLEST_API_KEY"],
        )
        
        response = client.chat.completions.create(
            model="electron",
            messages=[
                {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ],
        )
        
        print(response.choices[0].message.content)
        ```
        
        **JavaScript / TypeScript** (`npm install openai`)
        ```typescript
        import OpenAI from "openai";
        
        const client = new OpenAI({
          baseURL: "https://api.smallest.ai/waves/v1",
          apiKey: process.env.SMALLEST_API_KEY,
        });
        
        const response = await client.chat.completions.create({
          model: "electron",
          messages: [
            { role: "user", content: "Write one sentence about why the sky is blue." },
          ],
        });
        
        console.log(response.choices[0].message.content);
        ```
        
        **Streaming with usage** (Python)
        ```python
        stream = client.chat.completions.create(
            model="electron",
            messages=[{"role": "user", "content": "Tell me a one-sentence fun fact."}],
            stream=True,
            stream_options={"include_usage": True},
        )
        for chunk in stream:
            if chunk.choices and chunk.choices[0].delta.content:
                print(chunk.choices[0].delta.content, end="", flush=True)
            if chunk.usage:
                print(f"\\n\\nTokens: {chunk.usage.total_tokens}")
        ```
        
        ## Common gotchas
        
        - **Base URL is `/waves/v1`**, not `/v1`. The OpenAI SDK appends `/chat/completions` for you.
        - **`stream_options.include_usage: true`** is required for exact token accounting on streaming calls — the final SSE chunk carries the `usage` block.
        - **`n > 1` and `prompt_logprobs` are rejected.** Use multiple requests if you need parallel completions.
        - **Auth header is `Authorization: Bearer $SMALLEST_API_KEY`** — get the key from the [Smallest AI Console](https://app.smallest.ai/dashboard/api-keys).
        
        Parameters
        ----------
        model : str
            Model ID. Currently only `"electron"`.
        
        messages : typing.Sequence[ElectronMessage]
            Chat history. Standard OpenAI message array.
        
        temperature : typing.Optional[float]
            Sampling temperature.
        
        top_p : typing.Optional[float]
            Nucleus sampling.
        
        max_tokens : typing.Optional[int]
            Maximum output tokens. Combined input + output context ceiling
            is 32,768.
        
        stream : typing.Optional[bool]
            When true, response is `text/event-stream`. See the
            [Streaming guide](/models/documentation/llm-electron/streaming).
        
        stream_options : typing.Optional[ChatCompletionRequestStreamOptions]
        
        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool / function calling definitions. Forwarded verbatim to the
            OpenAI-compatible upstream, so the standard OpenAI shape
            (`{type: "function", function: {name, description, parameters}}`)
            is the recommended form and is what the examples below use.
            The wire schema is permissive (`array<object>`) — any tools payload
            the upstream accepts will work. See [Tool Calling](/models/documentation/llm-electron/tool-function-calling)
            for details.
        
        tool_choice : typing.Optional[ChatCompletionRequestToolChoice]
        
        response_format : typing.Optional[ChatCompletionRequestResponseFormat]
            Output shape. `{type: "text"}` (default) or `{type: "json_object"}`.
        
        stop : typing.Optional[ChatCompletionRequestStop]
        
        seed : typing.Optional[int]
            Best-effort determinism.
        
        logit_bias : typing.Optional[typing.Dict[str, float]]
        
        logprobs : typing.Optional[bool]
        
        top_logprobs : typing.Optional[int]
        
        presence_penalty : typing.Optional[float]
        
        frequency_penalty : typing.Optional[float]
        
        user : typing.Optional[str]
            Opaque end-user identifier. Not interpreted by Electron.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[ChatCompletion]
            Non-streaming: standard OpenAI `chat.completion` object.
            
            Streaming (`stream: true`): `text/event-stream` SSE — each
            event is a `chat.completion.chunk` delta, terminated by
            `data: [DONE]`.
        """
        _response = self._client_wrapper.httpx_client.request(
            "waves/v1/chat/completions",
            base_url=self._client_wrapper.get_environment().waves,
            method="POST",
            json={
                "model": model,
                "messages": convert_and_respect_annotation_metadata(
                    object_=messages, annotation=typing.Sequence[ElectronMessage], direction="write"
                ),
                "temperature": temperature,
                "top_p": top_p,
                "max_tokens": max_tokens,
                "stream": stream,
                "stream_options": convert_and_respect_annotation_metadata(
                    object_=stream_options, annotation=ChatCompletionRequestStreamOptions, direction="write"
                ),
                "tools": tools,
                "tool_choice": convert_and_respect_annotation_metadata(
                    object_=tool_choice, annotation=ChatCompletionRequestToolChoice, direction="write"
                ),
                "response_format": convert_and_respect_annotation_metadata(
                    object_=response_format, annotation=ChatCompletionRequestResponseFormat, direction="write"
                ),
                "stop": convert_and_respect_annotation_metadata(
                    object_=stop, annotation=ChatCompletionRequestStop, direction="write"
                ),
                "seed": seed,
                "logit_bias": logit_bias,
                "logprobs": logprobs,
                "top_logprobs": top_logprobs,
                "presence_penalty": presence_penalty,
                "frequency_penalty": frequency_penalty,
                "user": user,
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    ChatCompletion,
                    construct_type(
                        type_=ChatCompletion,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 401:
                raise UnauthorizedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 403:
                raise ForbiddenError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 502:
                raise BadGatewayError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 503:
                raise ServiceUnavailableError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)


class AsyncRawElectronClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def complete(
        self,
        *,
        model: str,
        messages: typing.Sequence[ElectronMessage],
        temperature: typing.Optional[float] = OMIT,
        top_p: typing.Optional[float] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        stream_options: typing.Optional[ChatCompletionRequestStreamOptions] = OMIT,
        tools: typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]] = OMIT,
        tool_choice: typing.Optional[ChatCompletionRequestToolChoice] = OMIT,
        response_format: typing.Optional[ChatCompletionRequestResponseFormat] = OMIT,
        stop: typing.Optional[ChatCompletionRequestStop] = OMIT,
        seed: typing.Optional[int] = OMIT,
        logit_bias: typing.Optional[typing.Dict[str, float]] = OMIT,
        logprobs: typing.Optional[bool] = OMIT,
        top_logprobs: typing.Optional[int] = OMIT,
        presence_penalty: typing.Optional[float] = OMIT,
        frequency_penalty: typing.Optional[float] = OMIT,
        user: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncHttpResponse[ChatCompletion]:
        """
        Generate a chat completion with Electron. OpenAI-compatible
        request/response shape — point any OpenAI SDK at
        `https://api.smallest.ai/waves/v1` and it just works.
        
        Set `stream: true` to receive tokens via Server-Sent Events. With
        `stream_options: { include_usage: true }`, the final SSE chunk
        carries the `usage` block so token accounting is exact even on
        client disconnects.
        
        Tool calling follows OpenAI's `tools` array convention. When you
        provide a voice-agent-style system prompt, Electron emits a short
        filler phrase in the assistant message `content` field alongside
        `tool_calls` — see the [Tool Calling guide](/models/documentation/llm-electron/tool-function-calling)
        for the voice-agent pattern.
        
        ## Examples
        
        **cURL**
        ```bash
        curl -X POST "https://api.smallest.ai/waves/v1/chat/completions" \\
          -H "Authorization: Bearer $SMALLEST_API_KEY" \\
          -H "Content-Type: application/json" \\
          -d '{
            "model": "electron",
            "messages": [
              {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ]
          }'
        ```
        
        **Python** (`pip install openai`)
        ```python
        import os
        from openai import OpenAI
        
        client = OpenAI(
            base_url="https://api.smallest.ai/waves/v1",
            api_key=os.environ["SMALLEST_API_KEY"],
        )
        
        response = client.chat.completions.create(
            model="electron",
            messages=[
                {"role": "user", "content": "Write one sentence about why the sky is blue."}
            ],
        )
        
        print(response.choices[0].message.content)
        ```
        
        **JavaScript / TypeScript** (`npm install openai`)
        ```typescript
        import OpenAI from "openai";
        
        const client = new OpenAI({
          baseURL: "https://api.smallest.ai/waves/v1",
          apiKey: process.env.SMALLEST_API_KEY,
        });
        
        const response = await client.chat.completions.create({
          model: "electron",
          messages: [
            { role: "user", content: "Write one sentence about why the sky is blue." },
          ],
        });
        
        console.log(response.choices[0].message.content);
        ```
        
        **Streaming with usage** (Python)
        ```python
        stream = client.chat.completions.create(
            model="electron",
            messages=[{"role": "user", "content": "Tell me a one-sentence fun fact."}],
            stream=True,
            stream_options={"include_usage": True},
        )
        for chunk in stream:
            if chunk.choices and chunk.choices[0].delta.content:
                print(chunk.choices[0].delta.content, end="", flush=True)
            if chunk.usage:
                print(f"\\n\\nTokens: {chunk.usage.total_tokens}")
        ```
        
        ## Common gotchas
        
        - **Base URL is `/waves/v1`**, not `/v1`. The OpenAI SDK appends `/chat/completions` for you.
        - **`stream_options.include_usage: true`** is required for exact token accounting on streaming calls — the final SSE chunk carries the `usage` block.
        - **`n > 1` and `prompt_logprobs` are rejected.** Use multiple requests if you need parallel completions.
        - **Auth header is `Authorization: Bearer $SMALLEST_API_KEY`** — get the key from the [Smallest AI Console](https://app.smallest.ai/dashboard/api-keys).
        
        Parameters
        ----------
        model : str
            Model ID. Currently only `"electron"`.
        
        messages : typing.Sequence[ElectronMessage]
            Chat history. Standard OpenAI message array.
        
        temperature : typing.Optional[float]
            Sampling temperature.
        
        top_p : typing.Optional[float]
            Nucleus sampling.
        
        max_tokens : typing.Optional[int]
            Maximum output tokens. Combined input + output context ceiling
            is 32,768.
        
        stream : typing.Optional[bool]
            When true, response is `text/event-stream`. See the
            [Streaming guide](/models/documentation/llm-electron/streaming).
        
        stream_options : typing.Optional[ChatCompletionRequestStreamOptions]
        
        tools : typing.Optional[typing.Sequence[typing.Dict[str, typing.Any]]]
            Tool / function calling definitions. Forwarded verbatim to the
            OpenAI-compatible upstream, so the standard OpenAI shape
            (`{type: "function", function: {name, description, parameters}}`)
            is the recommended form and is what the examples below use.
            The wire schema is permissive (`array<object>`) — any tools payload
            the upstream accepts will work. See [Tool Calling](/models/documentation/llm-electron/tool-function-calling)
            for details.
        
        tool_choice : typing.Optional[ChatCompletionRequestToolChoice]
        
        response_format : typing.Optional[ChatCompletionRequestResponseFormat]
            Output shape. `{type: "text"}` (default) or `{type: "json_object"}`.
        
        stop : typing.Optional[ChatCompletionRequestStop]
        
        seed : typing.Optional[int]
            Best-effort determinism.
        
        logit_bias : typing.Optional[typing.Dict[str, float]]
        
        logprobs : typing.Optional[bool]
        
        top_logprobs : typing.Optional[int]
        
        presence_penalty : typing.Optional[float]
        
        frequency_penalty : typing.Optional[float]
        
        user : typing.Optional[str]
            Opaque end-user identifier. Not interpreted by Electron.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        AsyncHttpResponse[ChatCompletion]
            Non-streaming: standard OpenAI `chat.completion` object.
            
            Streaming (`stream: true`): `text/event-stream` SSE — each
            event is a `chat.completion.chunk` delta, terminated by
            `data: [DONE]`.
        """
        _response = await self._client_wrapper.httpx_client.request(
            "waves/v1/chat/completions",
            base_url=self._client_wrapper.get_environment().waves,
            method="POST",
            json={
                "model": model,
                "messages": convert_and_respect_annotation_metadata(
                    object_=messages, annotation=typing.Sequence[ElectronMessage], direction="write"
                ),
                "temperature": temperature,
                "top_p": top_p,
                "max_tokens": max_tokens,
                "stream": stream,
                "stream_options": convert_and_respect_annotation_metadata(
                    object_=stream_options, annotation=ChatCompletionRequestStreamOptions, direction="write"
                ),
                "tools": tools,
                "tool_choice": convert_and_respect_annotation_metadata(
                    object_=tool_choice, annotation=ChatCompletionRequestToolChoice, direction="write"
                ),
                "response_format": convert_and_respect_annotation_metadata(
                    object_=response_format, annotation=ChatCompletionRequestResponseFormat, direction="write"
                ),
                "stop": convert_and_respect_annotation_metadata(
                    object_=stop, annotation=ChatCompletionRequestStop, direction="write"
                ),
                "seed": seed,
                "logit_bias": logit_bias,
                "logprobs": logprobs,
                "top_logprobs": top_logprobs,
                "presence_penalty": presence_penalty,
                "frequency_penalty": frequency_penalty,
                "user": user,
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    ChatCompletion,
                    construct_type(
                        type_=ChatCompletion,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 401:
                raise UnauthorizedError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 403:
                raise ForbiddenError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 502:
                raise BadGatewayError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 503:
                raise ServiceUnavailableError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Any,
                        construct_type(
                            type_=typing.Any,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
