# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from .raw_client import AsyncRawVoicesClient, RawVoicesClient
from .types.get_all_voice_models_response import GetAllVoiceModelsResponse


class VoicesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawVoicesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawVoicesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawVoicesClient
        """
        return self._raw_client

    def get_all_voice_models(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetAllVoiceModelsResponse:
        """
        List every available voice with its display name, description, a preview audio URL,
        and metadata tags (age, supported languages). Use a voice's `voiceId` with the
        unified `/waves/v1/tts` route. This is the browse/catalog endpoint; to list only the
        voices for a specific model, use `GET /waves/v1/{model}/get_voices`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetAllVoiceModelsResponse
            Voices retrieved.

        Examples
        --------
        from smallestai import SmallestAI

        client = SmallestAI(
            api_key="YOUR_API_KEY",
        )
        client.waves.voices.get_all_voice_models()
        """
        _response = self._raw_client.get_all_voice_models(request_options=request_options)
        return _response.data


class AsyncVoicesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawVoicesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawVoicesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawVoicesClient
        """
        return self._raw_client

    async def get_all_voice_models(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetAllVoiceModelsResponse:
        """
        List every available voice with its display name, description, a preview audio URL,
        and metadata tags (age, supported languages). Use a voice's `voiceId` with the
        unified `/waves/v1/tts` route. This is the browse/catalog endpoint; to list only the
        voices for a specific model, use `GET /waves/v1/{model}/get_voices`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetAllVoiceModelsResponse
            Voices retrieved.

        Examples
        --------
        import asyncio

        from smallestai import AsyncSmallestAI

        client = AsyncSmallestAI(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.waves.voices.get_all_voice_models()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_all_voice_models(request_options=request_options)
        return _response.data
