# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.jsonable_encoder import jsonable_encoder
from ...core.query_encoder import encode_query
from ...core.remove_none_from_dict import remove_none_from_dict
from ...core.request_options import RequestOptions
from ...core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .raw_client import AsyncRawLightningV31TtsClient, RawLightningV31TtsClient
from .socket_client import AsyncLightningV31TtsSocketClient, LightningV31TtsSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class LightningV31TtsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawLightningV31TtsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawLightningV31TtsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawLightningV31TtsClient
        """
        return self._raw_client

    @contextmanager
    def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[LightningV31TtsSocketClient]:
        """
        # Lightning v3.1 WebSocket (endpoint will be deprecated)

        <Warning>**Endpoint scheduled for retirement.** This URL will stop accepting WebSocket connections **60 days from the Lightning v3.1 Pro launch (2026-05-15)** — i.e. on **2026-07-14**. The Lightning v3.1 model itself is current and stays. Migrate to [`wss://api.smallest.ai/waves/v1/tts/live`](/waves/api-reference/api-reference/text-to-speech/tts). The protocol and payload shape are identical; only the URL changes. Use the `model` body field to pick the model.</Warning>

        Synthesize speech over a persistent WebSocket. Audio chunks come back as text arrives — the fit-for-purpose path when *text itself* is streaming, like LLM token output.

        ## When to use this

        - **Use this** when text is generated incrementally and you want audio to start playing as soon as the first words are produced — LLM streaming, live captioning, voice agents.
        - **Use SSE streaming** when you have the full text up front but want low-latency playback.
        - **Use sync `/get_speech`** when latency isn't critical and a single buffer is easier to handle.

        ## How it works

        1. Open a WebSocket to `wss://api.smallest.ai/waves/v1/lightning-v3.1/get_speech/stream` with `Authorization: Bearer <key>`.
        2. Send a JSON message per text chunk: `{ "voice_id": "magnus", "text": "...", "continue": true, "flush": false, ... }`. Set `continue: true` to keep the session open between sends.
        3. The server pushes back JSON messages with `data.audio` (base64 PCM) and a `status` field (`chunk`, `complete`).
        4. When you're done sending text, push one final message with `flush: true` and an empty `text` — the server finishes the buffer and sends `status: "complete"`.

        ## Concurrency and rate limits

        - 1 concurrency unit = 1 active TTS request at a time.
        - You can open up to 5 WebSocket connections per concurrency unit.
        - Requests beyond your concurrency limit are rejected with an error — queue on your side.

        Examples: 3 concurrency = up to 15 open sockets, but only 3 active synth requests at once.

        ## Examples

        **Python** (using `smallestai>=4.4.0` — the 4.3.1 compatibility shim):
        ```python
        from smallestai.waves import WavesStreamingTTS, TTSConfig

        config = TTSConfig(voice_id="magnus", api_key="YOUR_API_KEY", sample_rate=24000)
        tts = WavesStreamingTTS(config)

        def text_chunks():
            # Pretend this is your LLM streaming tokens.
            for word in ["Hello,", " I am", " streaming", " speech."]:
                yield word

        with open("speech.pcm", "wb") as out:
            for audio_chunk in tts.synthesize_streaming(text_chunks(), continue_stream=True, auto_flush=True):
                out.write(audio_chunk)
        ```

        For new code, you can also use the namespaced Fern client: `client.waves.lightning_v31tts.connect(...)` which returns a typed socket you drive yourself.

        **JavaScript / TypeScript** (using `ws`)
        ```typescript
        import WebSocket from "ws";

        const ws = new WebSocket("wss://api.smallest.ai/waves/v1/lightning-v3.1/get_speech/stream", {
          headers: { Authorization: `Bearer ${process.env.SMALLEST_API_KEY}` },
        });

        ws.on("open", () => {
          for (const text of ["Hello,", " I am", " streaming", " speech."]) {
            ws.send(JSON.stringify({
              voice_id: "magnus",
              text,
              sample_rate: 24000,
              continue: true,
              flush: false,
            }));
          }
          // Final flush
          ws.send(JSON.stringify({ voice_id: "magnus", text: "", flush: true }));
        });

        ws.on("message", (raw) => {
          const msg = JSON.parse(raw.toString());
          if (msg.status === "complete") return ws.close();
          const pcm = Buffer.from(msg.data.audio, "base64");
          // … hand pcm to your audio pipeline
        });
        ```

        ## Optional features

        Set `word_timestamps: true` on a request to receive per-word timing events (`status: "word_timestamp"`) interleaved with audio chunks. Supported on English + Hindi base-queue voices. See [Word-level timestamps](/waves/documentation/text-to-speech-lightning/word-timestamps).

        ## Common gotchas

        - **`continue: true` keeps the session alive.** Without it, the server closes after the first chunk. Send `flush: true` with empty `text` when you're done.
        - **44.1 kHz is supported but most pipelines want 24 kHz.** Match your downstream sample rate to avoid resampling.
        - **Backpressure**: if you push text faster than the server can synthesize, audio chunks queue server-side. Watch for `complete_backoff_ms` in responses.
        - **One concurrency unit = one in-flight synth.** Holding 5 sockets open doesn't get you 5× throughput unless you upgrade concurrency.
        - **JavaScript / TypeScript**: the official `smallestai` npm package predates Lightning v3.1, so connect with the `ws` library directly as shown above.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        LightningV31TtsSocketClient
        """
        ws_url = (
            self._raw_client._client_wrapper.get_environment().waves_ws + "/waves/v1/lightning-v3.1/get_speech/stream"
        )
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield LightningV31TtsSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncLightningV31TtsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawLightningV31TtsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawLightningV31TtsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawLightningV31TtsClient
        """
        return self._raw_client

    @asynccontextmanager
    async def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[AsyncLightningV31TtsSocketClient]:
        """
        # Lightning v3.1 WebSocket (endpoint will be deprecated)

        <Warning>**Endpoint scheduled for retirement.** This URL will stop accepting WebSocket connections **60 days from the Lightning v3.1 Pro launch (2026-05-15)** — i.e. on **2026-07-14**. The Lightning v3.1 model itself is current and stays. Migrate to [`wss://api.smallest.ai/waves/v1/tts/live`](/waves/api-reference/api-reference/text-to-speech/tts). The protocol and payload shape are identical; only the URL changes. Use the `model` body field to pick the model.</Warning>

        Synthesize speech over a persistent WebSocket. Audio chunks come back as text arrives — the fit-for-purpose path when *text itself* is streaming, like LLM token output.

        ## When to use this

        - **Use this** when text is generated incrementally and you want audio to start playing as soon as the first words are produced — LLM streaming, live captioning, voice agents.
        - **Use SSE streaming** when you have the full text up front but want low-latency playback.
        - **Use sync `/get_speech`** when latency isn't critical and a single buffer is easier to handle.

        ## How it works

        1. Open a WebSocket to `wss://api.smallest.ai/waves/v1/lightning-v3.1/get_speech/stream` with `Authorization: Bearer <key>`.
        2. Send a JSON message per text chunk: `{ "voice_id": "magnus", "text": "...", "continue": true, "flush": false, ... }`. Set `continue: true` to keep the session open between sends.
        3. The server pushes back JSON messages with `data.audio` (base64 PCM) and a `status` field (`chunk`, `complete`).
        4. When you're done sending text, push one final message with `flush: true` and an empty `text` — the server finishes the buffer and sends `status: "complete"`.

        ## Concurrency and rate limits

        - 1 concurrency unit = 1 active TTS request at a time.
        - You can open up to 5 WebSocket connections per concurrency unit.
        - Requests beyond your concurrency limit are rejected with an error — queue on your side.

        Examples: 3 concurrency = up to 15 open sockets, but only 3 active synth requests at once.

        ## Examples

        **Python** (using `smallestai>=4.4.0` — the 4.3.1 compatibility shim):
        ```python
        from smallestai.waves import WavesStreamingTTS, TTSConfig

        config = TTSConfig(voice_id="magnus", api_key="YOUR_API_KEY", sample_rate=24000)
        tts = WavesStreamingTTS(config)

        def text_chunks():
            # Pretend this is your LLM streaming tokens.
            for word in ["Hello,", " I am", " streaming", " speech."]:
                yield word

        with open("speech.pcm", "wb") as out:
            for audio_chunk in tts.synthesize_streaming(text_chunks(), continue_stream=True, auto_flush=True):
                out.write(audio_chunk)
        ```

        For new code, you can also use the namespaced Fern client: `client.waves.lightning_v31tts.connect(...)` which returns a typed socket you drive yourself.

        **JavaScript / TypeScript** (using `ws`)
        ```typescript
        import WebSocket from "ws";

        const ws = new WebSocket("wss://api.smallest.ai/waves/v1/lightning-v3.1/get_speech/stream", {
          headers: { Authorization: `Bearer ${process.env.SMALLEST_API_KEY}` },
        });

        ws.on("open", () => {
          for (const text of ["Hello,", " I am", " streaming", " speech."]) {
            ws.send(JSON.stringify({
              voice_id: "magnus",
              text,
              sample_rate: 24000,
              continue: true,
              flush: false,
            }));
          }
          // Final flush
          ws.send(JSON.stringify({ voice_id: "magnus", text: "", flush: true }));
        });

        ws.on("message", (raw) => {
          const msg = JSON.parse(raw.toString());
          if (msg.status === "complete") return ws.close();
          const pcm = Buffer.from(msg.data.audio, "base64");
          // … hand pcm to your audio pipeline
        });
        ```

        ## Optional features

        Set `word_timestamps: true` on a request to receive per-word timing events (`status: "word_timestamp"`) interleaved with audio chunks. Supported on English + Hindi base-queue voices. See [Word-level timestamps](/waves/documentation/text-to-speech-lightning/word-timestamps).

        ## Common gotchas

        - **`continue: true` keeps the session alive.** Without it, the server closes after the first chunk. Send `flush: true` with empty `text` when you're done.
        - **44.1 kHz is supported but most pipelines want 24 kHz.** Match your downstream sample rate to avoid resampling.
        - **Backpressure**: if you push text faster than the server can synthesize, audio chunks queue server-side. Watch for `complete_backoff_ms` in responses.
        - **One concurrency unit = one in-flight synth.** Holding 5 sockets open doesn't get you 5× throughput unless you upgrade concurrency.
        - **JavaScript / TypeScript**: the official `smallestai` npm package predates Lightning v3.1, so connect with the `ws` library directly as shown above.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncLightningV31TtsSocketClient
        """
        ws_url = (
            self._raw_client._client_wrapper.get_environment().waves_ws + "/waves/v1/lightning-v3.1/get_speech/stream"
        )
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncLightningV31TtsSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
