# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.jsonable_encoder import jsonable_encoder
from ...core.query_encoder import encode_query
from ...core.remove_none_from_dict import remove_none_from_dict
from ...core.request_options import RequestOptions
from ...core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .raw_client import AsyncRawTtsClient, RawTtsClient
from .socket_client import AsyncTtsSocketClient, TtsSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class TtsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTtsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawTtsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawTtsClient
        """
        return self._raw_client

    @contextmanager
    def connect(
        self, *, authorization: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[TtsSocketClient]:
        """
        # Live TTS WebSocket — `/waves/v1/tts/live`

        Real-time text-to-speech over a persistent WebSocket connection. The
        `model` field in the request payload selects which Lightning pool serves
        the synthesis.

        ## When to use this

        - **Use this** when text arrives incrementally (LLM token streams, live
          captioning, conversational pipelines where playback should start as
          soon as the first chunk is ready).
        - POST to `/waves/v1/tts/live` (SSE) when you have the full text up
          front but still want chunked playback. (Same URL, different
          protocol — HTTP POST gets you SSE; WSS connect gets you WebSocket.)
        - Use `/waves/v1/tts` (sync) when total latency doesn't matter.

        ## Selecting the model

        Pass `"model": "lightning_v3.1"` (default) or
        `"model": "lightning_v3.1_pro"` on each request. Concurrency and latency
        are identical across both. Voice catalogs differ — see the
        [Lightning v3.1](/waves/model-cards/text-to-speech/lightning-v-3-1) and
        [Lightning v3.1 Pro](/waves/model-cards/text-to-speech/lightning-v-3-1-pro)
        model cards for the per-model catalog.

        ## Language behaviour

        On `lightning_v3.1` the full 12-language catalog applies (see voice
        catalog).

        On `lightning_v3.1_pro`:
        - Pass `language: en` → UK + American accented English.
        - Pass `language: hi` → Indian accented English + Hindi (code-switching).
        - Omit `language` → defaults to `en + hi` (mixed Indian + Western
          English coverage).

        ## Optional features

        Set `word_timestamps: true` to receive per-word timing events
        interleaved with the audio chunks (`status: "word_timestamp"`).
        Supported on English + Hindi base-queue voices. See
        [Word-level timestamps](/waves/documentation/text-to-speech-lightning/word-timestamps).

        ## Connection timeout

        The server closes idle WebSocket connections to free resources. The
        default idle timeout is **60 seconds** — if your client does not send
        a message within that window the server closes the connection with:

        ```json
        {"status": "error", "message": "Connection timed out after 60 seconds of inactivity"}
        ```

        Override the value with the `timeout` query parameter on the URL:

        ```
        wss://api.smallest.ai/waves/v1/tts/live?timeout=120
        ```

        Pass any positive integer (seconds). Smaller values are honored
        verbatim (e.g. `?timeout=5` closes after 5 s of silence). Use a larger
        value when your application has known pauses between turns — voice
        agents with long human-thinking windows, agentic pipelines waiting on
        an LLM round-trip, etc.

        The timeout is reset on every message you send (binary audio in, JSON
        control in), so keep-alive traffic restarts the clock.

        ## Migrating from `/waves/v1/lightning-v3.1/get_speech/stream`

        Same protocol, same payload shape — only the URL changes. Existing
        clients should:

        1. Update the WebSocket URL to `wss://api.smallest.ai/waves/v1/tts/live`.
        2. Optionally add `"model": "lightning_v3.1_pro"` to route to the Pro
           pool. Omitting `model` keeps the existing standard-pool behavior.

        Voice IDs, sample rates, auth, and the response/streaming format are
        unchanged, so downstream audio handling, jitter buffers, and barge-in
        logic stay the same.

        Parameters
        ----------
        authorization : typing.Optional[str]
            Bearer token for authentication. Format: Bearer YOUR_API_KEY

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TtsSocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_environment().waves_ws + "/waves/v1/tts/live"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if authorization is not None:
            headers["Authorization"] = str(authorization)
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield TtsSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncTtsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTtsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawTtsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawTtsClient
        """
        return self._raw_client

    @asynccontextmanager
    async def connect(
        self, *, authorization: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[AsyncTtsSocketClient]:
        """
        # Live TTS WebSocket — `/waves/v1/tts/live`

        Real-time text-to-speech over a persistent WebSocket connection. The
        `model` field in the request payload selects which Lightning pool serves
        the synthesis.

        ## When to use this

        - **Use this** when text arrives incrementally (LLM token streams, live
          captioning, conversational pipelines where playback should start as
          soon as the first chunk is ready).
        - POST to `/waves/v1/tts/live` (SSE) when you have the full text up
          front but still want chunked playback. (Same URL, different
          protocol — HTTP POST gets you SSE; WSS connect gets you WebSocket.)
        - Use `/waves/v1/tts` (sync) when total latency doesn't matter.

        ## Selecting the model

        Pass `"model": "lightning_v3.1"` (default) or
        `"model": "lightning_v3.1_pro"` on each request. Concurrency and latency
        are identical across both. Voice catalogs differ — see the
        [Lightning v3.1](/waves/model-cards/text-to-speech/lightning-v-3-1) and
        [Lightning v3.1 Pro](/waves/model-cards/text-to-speech/lightning-v-3-1-pro)
        model cards for the per-model catalog.

        ## Language behaviour

        On `lightning_v3.1` the full 12-language catalog applies (see voice
        catalog).

        On `lightning_v3.1_pro`:
        - Pass `language: en` → UK + American accented English.
        - Pass `language: hi` → Indian accented English + Hindi (code-switching).
        - Omit `language` → defaults to `en + hi` (mixed Indian + Western
          English coverage).

        ## Optional features

        Set `word_timestamps: true` to receive per-word timing events
        interleaved with the audio chunks (`status: "word_timestamp"`).
        Supported on English + Hindi base-queue voices. See
        [Word-level timestamps](/waves/documentation/text-to-speech-lightning/word-timestamps).

        ## Connection timeout

        The server closes idle WebSocket connections to free resources. The
        default idle timeout is **60 seconds** — if your client does not send
        a message within that window the server closes the connection with:

        ```json
        {"status": "error", "message": "Connection timed out after 60 seconds of inactivity"}
        ```

        Override the value with the `timeout` query parameter on the URL:

        ```
        wss://api.smallest.ai/waves/v1/tts/live?timeout=120
        ```

        Pass any positive integer (seconds). Smaller values are honored
        verbatim (e.g. `?timeout=5` closes after 5 s of silence). Use a larger
        value when your application has known pauses between turns — voice
        agents with long human-thinking windows, agentic pipelines waiting on
        an LLM round-trip, etc.

        The timeout is reset on every message you send (binary audio in, JSON
        control in), so keep-alive traffic restarts the clock.

        ## Migrating from `/waves/v1/lightning-v3.1/get_speech/stream`

        Same protocol, same payload shape — only the URL changes. Existing
        clients should:

        1. Update the WebSocket URL to `wss://api.smallest.ai/waves/v1/tts/live`.
        2. Optionally add `"model": "lightning_v3.1_pro"` to route to the Pro
           pool. Omitting `model` keeps the existing standard-pool behavior.

        Voice IDs, sample rates, auth, and the response/streaming format are
        unchanged, so downstream audio handling, jitter buffers, and barge-in
        logic stay the same.

        Parameters
        ----------
        authorization : typing.Optional[str]
            Bearer token for authentication. Format: Bearer YOUR_API_KEY

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncTtsSocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_environment().waves_ws + "/waves/v1/tts/live"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if authorization is not None:
            headers["Authorization"] = str(authorization)
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncTtsSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
