# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.jsonable_encoder import jsonable_encoder
from ...core.query_encoder import encode_query
from ...core.remove_none_from_dict import remove_none_from_dict
from ...core.request_options import RequestOptions
from ...core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .socket_client import AsyncPulseSttStreamingSocketClient, PulseSttStreamingSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class RawPulseSttStreamingClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    @contextmanager
    def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[PulseSttStreamingSocketClient]:
        """
        Transcribe audio in real time over a persistent WebSocket. The fit-for-purpose path for live captioning, voice agents, and any flow where you need partial transcripts as the user is still speaking.

        ## When to use this

        - **Use this** for live audio: microphone input, voice-agent turns, simultaneous interpretation, low-latency captioning. Partial results stream back while audio is still arriving.
        - **Use the pre-recorded REST endpoint** (`POST /waves/v1/pulse/get_text`) when you have a complete file. Single request, single response, less plumbing.

        ## How it works

        1. Open a WebSocket to `wss://api.smallest.ai/waves/v1/pulse/get_text` with `Authorization: Bearer <key>` and the session params (`language`, `sample_rate`, `encoding`, etc.) as query string.
        2. Stream raw PCM (or your chosen `encoding`) over the socket as binary frames.
        3. The server pushes back JSON `transcriptionResponse` messages — partial results (`is_final: false`) as you speak, finalized text (`is_final: true`) when an utterance closes.
        4. Send a `finalize` message to force end-of-utterance, or `close_stream` to end the session.

        ## Examples

        **Python** (real-time mic input)
        ```python
        import asyncio, json, websockets, pyaudio

        URL = "wss://api.smallest.ai/waves/v1/pulse/get_text?language=en&sample_rate=16000&encoding=linear16&word_timestamps=true"
        HEADERS = {"Authorization": f"Bearer {API_KEY}"}

        async def stream_mic():
            pa = pyaudio.PyAudio()
            stream = pa.open(format=pyaudio.paInt16, channels=1, rate=16000, input=True, frames_per_buffer=320)
            async with websockets.connect(URL, additional_headers=HEADERS) as ws:
                async def send_audio():
                    while True:
                        await ws.send(stream.read(320))
                async def recv_transcripts():
                    async for msg in ws:
                        data = json.loads(msg)
                        tag = "FINAL " if data.get("is_final") else "partial"
                        print(f"[{tag}] {data.get('transcript')}")
                await asyncio.gather(send_audio(), recv_transcripts())

        asyncio.run(stream_mic())
        ```

        **JavaScript / TypeScript** (using `ws`)
        ```typescript
        import WebSocket from "ws";
        import { readFileSync } from "node:fs";

        const params = new URLSearchParams({
          language: "en", sample_rate: "16000", encoding: "linear16", word_timestamps: "true",
        });
        const ws = new WebSocket(`wss://api.smallest.ai/waves/v1/pulse/get_text?${params}`, {
          headers: { Authorization: `Bearer ${process.env.SMALLEST_API_KEY}` },
        });

        ws.on("open", () => {
          const audio = readFileSync("./call.pcm"); // 16-bit mono PCM at 16 kHz
          for (let i = 0; i < audio.length; i += 3200) {
            ws.send(audio.subarray(i, i + 3200));
          }
          ws.send(JSON.stringify({ type: "finalize" }));
        });

        ws.on("message", (raw) => {
          const data = JSON.parse(raw.toString());
          const tag = data.is_final ? "FINAL " : "partial";
          console.log(`[${tag}] ${data.transcript}`);
          if (data.is_last) ws.close();
        });
        ```

        ## Common gotchas

        - **Match `sample_rate` to your audio.** The server will not resample for you — sending 44.1 kHz audio with `sample_rate=16000` produces garbage transcripts.
        - **`finalize` vs `close_stream`**: `finalize` ends the current utterance and triggers a final transcript without closing the session. `close_stream` ends the session entirely.
        - **`keywords` is WebSocket-only.** Pass them on connect for proper-noun / jargon boosting; not available on the REST endpoint.
        - **`format`/`punctuate`/`capitalize`** are accepted at the wire level today. They currently return the same transcript regardless of value — pass them in your integration so it works as the behavior changes.
        - **PII/PCI redaction (`redact_pii`, `redact_pci`)** runs server-side on finalized transcripts only — partials may show the unredacted text briefly before being replaced.
        - **JavaScript / TypeScript**: the official `smallestai` npm package predates the Pulse model, so connect with the `ws` library directly as shown above.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PulseSttStreamingSocketClient
        """
        ws_url = self._client_wrapper.get_environment().waves_ws + "/waves/v1/pulse/get_text"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield PulseSttStreamingSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncRawPulseSttStreamingClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    @asynccontextmanager
    async def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[AsyncPulseSttStreamingSocketClient]:
        """
        Transcribe audio in real time over a persistent WebSocket. The fit-for-purpose path for live captioning, voice agents, and any flow where you need partial transcripts as the user is still speaking.

        ## When to use this

        - **Use this** for live audio: microphone input, voice-agent turns, simultaneous interpretation, low-latency captioning. Partial results stream back while audio is still arriving.
        - **Use the pre-recorded REST endpoint** (`POST /waves/v1/pulse/get_text`) when you have a complete file. Single request, single response, less plumbing.

        ## How it works

        1. Open a WebSocket to `wss://api.smallest.ai/waves/v1/pulse/get_text` with `Authorization: Bearer <key>` and the session params (`language`, `sample_rate`, `encoding`, etc.) as query string.
        2. Stream raw PCM (or your chosen `encoding`) over the socket as binary frames.
        3. The server pushes back JSON `transcriptionResponse` messages — partial results (`is_final: false`) as you speak, finalized text (`is_final: true`) when an utterance closes.
        4. Send a `finalize` message to force end-of-utterance, or `close_stream` to end the session.

        ## Examples

        **Python** (real-time mic input)
        ```python
        import asyncio, json, websockets, pyaudio

        URL = "wss://api.smallest.ai/waves/v1/pulse/get_text?language=en&sample_rate=16000&encoding=linear16&word_timestamps=true"
        HEADERS = {"Authorization": f"Bearer {API_KEY}"}

        async def stream_mic():
            pa = pyaudio.PyAudio()
            stream = pa.open(format=pyaudio.paInt16, channels=1, rate=16000, input=True, frames_per_buffer=320)
            async with websockets.connect(URL, additional_headers=HEADERS) as ws:
                async def send_audio():
                    while True:
                        await ws.send(stream.read(320))
                async def recv_transcripts():
                    async for msg in ws:
                        data = json.loads(msg)
                        tag = "FINAL " if data.get("is_final") else "partial"
                        print(f"[{tag}] {data.get('transcript')}")
                await asyncio.gather(send_audio(), recv_transcripts())

        asyncio.run(stream_mic())
        ```

        **JavaScript / TypeScript** (using `ws`)
        ```typescript
        import WebSocket from "ws";
        import { readFileSync } from "node:fs";

        const params = new URLSearchParams({
          language: "en", sample_rate: "16000", encoding: "linear16", word_timestamps: "true",
        });
        const ws = new WebSocket(`wss://api.smallest.ai/waves/v1/pulse/get_text?${params}`, {
          headers: { Authorization: `Bearer ${process.env.SMALLEST_API_KEY}` },
        });

        ws.on("open", () => {
          const audio = readFileSync("./call.pcm"); // 16-bit mono PCM at 16 kHz
          for (let i = 0; i < audio.length; i += 3200) {
            ws.send(audio.subarray(i, i + 3200));
          }
          ws.send(JSON.stringify({ type: "finalize" }));
        });

        ws.on("message", (raw) => {
          const data = JSON.parse(raw.toString());
          const tag = data.is_final ? "FINAL " : "partial";
          console.log(`[${tag}] ${data.transcript}`);
          if (data.is_last) ws.close();
        });
        ```

        ## Common gotchas

        - **Match `sample_rate` to your audio.** The server will not resample for you — sending 44.1 kHz audio with `sample_rate=16000` produces garbage transcripts.
        - **`finalize` vs `close_stream`**: `finalize` ends the current utterance and triggers a final transcript without closing the session. `close_stream` ends the session entirely.
        - **`keywords` is WebSocket-only.** Pass them on connect for proper-noun / jargon boosting; not available on the REST endpoint.
        - **`format`/`punctuate`/`capitalize`** are accepted at the wire level today. They currently return the same transcript regardless of value — pass them in your integration so it works as the behavior changes.
        - **PII/PCI redaction (`redact_pii`, `redact_pci`)** runs server-side on finalized transcripts only — partials may show the unredacted text briefly before being replaced.
        - **JavaScript / TypeScript**: the official `smallestai` npm package predates the Pulse model, so connect with the `ws` library directly as shown above.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPulseSttStreamingSocketClient
        """
        ws_url = self._client_wrapper.get_environment().waves_ws + "/waves/v1/pulse/get_text"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncPulseSttStreamingSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
