# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.jsonable_encoder import jsonable_encoder
from ...core.query_encoder import encode_query
from ...core.remove_none_from_dict import remove_none_from_dict
from ...core.request_options import RequestOptions
from ...core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .socket_client import AsyncSpeechToSpeechSocketClient, SpeechToSpeechSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class RawSpeechToSpeechClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    @contextmanager
    def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[SpeechToSpeechSocketClient]:
        """
        # Hydra Speech-to-Speech WebSocket

        Hydra is Smallest AI's full-duplex speech-to-speech model. A single WebSocket carries microphone audio from your client to the model and streams synthesised response audio back. **Audio in, audio out** — Hydra does not emit a transcript stream. If your application needs text, transcribe the PCM you sent or received using the Pulse STT API.

        ## When to use this

        - **Use Hydra** when latency-to-voice matters above all else — phone agents, kiosks, in-car assistants, real-time tutors.
        - **Use the Pulse → Electron → Lightning v3.1 stack** when you need explicit text in the middle (analytics, custom RAG, regulated content moderation, BYOM).
        - **Use just Lightning v3.1** when you already have text and only need TTS.

        ## How it works

        1. Connect: `wss://api.smallest.ai/waves/v1/s2s?model=hydra&api_key=<SMALLEST_API_KEY>`.
        2. Receive `session.created` → send `session.configure` with persona, voice, optional tools.
        3. Stream `input_audio_buffer.append` continuously while the mic is open — even while the model is speaking. Hydra detects turn boundaries on its own.
        4. Receive `response.output_audio.delta` chunks (base64 PCM16) and queue them for playback at 48000 Hz.
        5. Handle barge-in: if `response.created` arrives before the previous response's `response.output_audio.done`, drop any still-scheduled audio buffers from the previous response.

        ## Audio formats

        - **Input** (client → server): PCM16, signed little-endian, mono, **16 kHz**, base64 inside `input_audio_buffer.append`. Recommended chunk size 20–40 ms (640–1280 samples).
        - **Output** (server → client): PCM16, signed little-endian, mono, **48000 Hz**. Each chunk arrives base64-encoded inside `response.output_audio.delta`.

        ## Voices

        Currently supported: `wren`, `sloane`, `marlowe`, `reed`, `knox`, `tate`.

        ## Idle timeout

        ~30 seconds of no traffic from either side. Reconnect to resume.

        ## Connection rejection and close codes

        - Bad `api_key` is rejected during the WebSocket *handshake* with **HTTP 401** — the upgrade never completes, so no `error` event or close code lands on the wire.
        - `1000` — normal close (including the ~30 s server-side idle timeout).
        - `1013` — server at capacity. An `error` event with `code: "server_full"` precedes the close frame; back off with jitter and retry.

        See the [Hydra realtime guide](/waves/documentation/speech-to-speech-hydra/overview) for the full protocol reference, tool-calling pattern, interruption handling, and complete Python + browser examples.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SpeechToSpeechSocketClient
        """
        ws_url = self._client_wrapper.get_environment().waves_ws + "/waves/v1/s2s"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield SpeechToSpeechSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncRawSpeechToSpeechClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    @asynccontextmanager
    async def connect(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[AsyncSpeechToSpeechSocketClient]:
        """
        # Hydra Speech-to-Speech WebSocket

        Hydra is Smallest AI's full-duplex speech-to-speech model. A single WebSocket carries microphone audio from your client to the model and streams synthesised response audio back. **Audio in, audio out** — Hydra does not emit a transcript stream. If your application needs text, transcribe the PCM you sent or received using the Pulse STT API.

        ## When to use this

        - **Use Hydra** when latency-to-voice matters above all else — phone agents, kiosks, in-car assistants, real-time tutors.
        - **Use the Pulse → Electron → Lightning v3.1 stack** when you need explicit text in the middle (analytics, custom RAG, regulated content moderation, BYOM).
        - **Use just Lightning v3.1** when you already have text and only need TTS.

        ## How it works

        1. Connect: `wss://api.smallest.ai/waves/v1/s2s?model=hydra&api_key=<SMALLEST_API_KEY>`.
        2. Receive `session.created` → send `session.configure` with persona, voice, optional tools.
        3. Stream `input_audio_buffer.append` continuously while the mic is open — even while the model is speaking. Hydra detects turn boundaries on its own.
        4. Receive `response.output_audio.delta` chunks (base64 PCM16) and queue them for playback at 48000 Hz.
        5. Handle barge-in: if `response.created` arrives before the previous response's `response.output_audio.done`, drop any still-scheduled audio buffers from the previous response.

        ## Audio formats

        - **Input** (client → server): PCM16, signed little-endian, mono, **16 kHz**, base64 inside `input_audio_buffer.append`. Recommended chunk size 20–40 ms (640–1280 samples).
        - **Output** (server → client): PCM16, signed little-endian, mono, **48000 Hz**. Each chunk arrives base64-encoded inside `response.output_audio.delta`.

        ## Voices

        Currently supported: `wren`, `sloane`, `marlowe`, `reed`, `knox`, `tate`.

        ## Idle timeout

        ~30 seconds of no traffic from either side. Reconnect to resume.

        ## Connection rejection and close codes

        - Bad `api_key` is rejected during the WebSocket *handshake* with **HTTP 401** — the upgrade never completes, so no `error` event or close code lands on the wire.
        - `1000` — normal close (including the ~30 s server-side idle timeout).
        - `1013` — server at capacity. An `error` event with `code: "server_full"` precedes the close frame; back off with jitter and retry.

        See the [Hydra realtime guide](/waves/documentation/speech-to-speech-hydra/overview) for the full protocol reference, tool-calling pattern, interruption handling, and complete Python + browser examples.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncSpeechToSpeechSocketClient
        """
        ws_url = self._client_wrapper.get_environment().waves_ws + "/waves/v1/s2s"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncSpeechToSpeechSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
